POSTGRES_DB=smart_logistics
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST_PORT=5433
METABASE_HOST_PORT=3003
API_HOST_PORT=8001
N8N_HOST_PORT=5679
METABASE_ADMIN_EMAIL=replace-with-your-metabase-admin-email
METABASE_ADMIN_PASSWORD=replace-with-your-metabase-admin-password
GPS_SIMULATOR_CYCLE_SECONDS=300
TRANSIT_SIMULATOR_CYCLE_SECONDS=1800

PGADMIN_DEFAULT_EMAIL=admin@smartlogistics.com
PGADMIN_DEFAULT_PASSWORD=admin123

N8N_ENCRYPTION_KEY=replace-with-a-long-random-string
N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=admin123
N8N_BLOCK_ENV_ACCESS_IN_NODE=false

OPENWEATHER_API_KEY=replace-with-your-openweather-api-key
MAPBOX_API_KEY=replace-with-your-mapbox-api-key
IDFM_API_KEY=replace-with-your-idfm-prim-api-token
